@import "tailwindcss";

:root {
  --background: #121417;
  --foreground: #F2F1EF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
}
